{{template "header"}}
<body>
    <div class="index-container">
        {{template "memberlogin"}}
        <hr/>
        <br/>
        <div class="event-ext-btn">
            <a href="/jh-signup" class="btn">First-time user? Sign up now!</a>
        </div>
    </div>
    {{template "footer"}}
    {{template "linktocss"}}
</body>
</html>