{{define "venuesearchform"}}
<form method="POST" class="venue-search-form">
    <input type="search" id="venue-search" name="venue" placeholder="Which venue are you looking for?"
    pattern="[A-Za-z0-9 ]+" title="Only letters and digits allowed">
    <input type="submit" value="search" class="btn side-btn">
</form>
{{end}}